services:
  app:
    build:
      context: .
      dockerfile: Dockerfile

    ports:
      - "3000:3000"

    environment:
      NODE_ENV: production
      HOST: 0.0.0.0
      PORT: 3000
      DB_URL: file:/data/observable.db

    volumes:
      - ./data:/data

    restart: unless-stopped